In [5]:
import geopandas as gpd
import pandas as pd
import pickle

from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf

from library._03_analyze import countries_regressions

In [14]:
# import cleaned dataframe
df = pd.read_pickle('data/geo/pickles/zonal_stats_c_norm.pickle'); df.head(3)

,F101992,F101993,F101994,F121994,F121995,F121996,F121997,F121998,F121999,F141997,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
WB_A3,,,,,,,,,,,,,,,,,,,,,
ALB,1.0,2.628394,3.087411,4.743126,5.511153,4.825264,5.901003,6.095106,6.328117,2.821373,...,2.171891,2.296141,2.420845,2.563675,2.756720,2.849070,2.954770,3.030117,3.073145,3.107257
DZA,1.0,1.027205,1.034877,0.943117,1.220886,1.189387,1.340228,1.477018,1.291055,1.008942,...,1.451161,1.536779,1.562906,1.616043,1.648364,1.674737,1.735030,1.783610,1.842472,1.894061
ATG,1.0,1.259259,1.249585,1.457435,1.457159,1.487562,1.636816,1.753179,1.917358,1.343007,...,1.525237,1.618020,1.834453,2.008707,2.010135,1.768195,1.641893,1.612447,1.677260,1.671452

In [15]:
# calculate regression stats for each country
df_regression = countries_regressions(df).sort_values(by='r', ascending=False); df_regression.head(3)

,beta,intercept,r,r_adj,p_beta,p_int,c_beta_low,c_beta_high,c_int_low,c_int_high
country,,,,,,,,,,
CHN,2.106011,-1.055173,0.910429,0.907630,2.510763e-18,1.611164e-04,1.868149,2.343872,-1.558022,-0.552324
ETH,0.762989,0.156017,0.897381,0.894174,2.226825e-17,2.175655e-01,0.670082,0.855895,-0.096643,0.408677
OMN,0.260797,0.905775,0.896847,0.893623,2.420280e-17,3.397654e-23,0.228948,0.292645,0.835377,0.976172

In [16]:
# save outputs to csv
df_regression.to_csv('data/country_stats.csv')

In [18]:
df_regression.loc['NGA']

beta           1.484300
intercept      0.086446
r              0.466433
r_adj          0.449759
p_beta         0.000009
p_int          0.785678
c_beta_low     0.912659
c_beta_high    2.055941
c_int_low     -0.555686
c_int_high     0.728578
Name: NGA, dtype: float64